<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<style type="text/css">@import url(https://fonts.googleapis.com/css?family=Roboto);</style>
<style type="text/css">
body{
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
}

table{
    width: 100%;
border:0;
}
.card-title{
    background-color: #00879e;
    height: 50px;
    font-family: Roboto;
    font-size: 36px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}
.card-body{
    padding: 20px;
}
    .card {

        width: 450px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 0 14px 0 rgba(0, 0, 0, 0.12);
border: solid 0.5px transparent;
background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
background-origin: border-box;
background-clip: content-box, border-box;
}
</style>
</head>
<body>
<div class="card">
<div class="card-title">
Vecinos
</div>
<div class="card-body">
<h4>Hola #{name}:</h4>
<p>Te damos la Bienvenida Adagop.</p>
<br/>
<h5>Atentamente:</h5>
<p>Equipo de Adagio.</p>
</div>
</div>
</body>
</html>